:root {
    --primary-color: #F7C31B;
    --secondary-color: #3D0066;
    --background-color: #ccc4ab;
    --secondary-color-light: #8238B3;
    --primary-color-gold: #C78D17;
    --primary-color-gold-dark: #6e5118;
    --font-family: 'Poppins', sans-serif;



}


.favoritos-page {
    padding: 40px 0;
    text-align: center;
}

.favoritos-page h1 {
    margin-bottom: 10px;
}

.underline {
    width: 80px;
    height: 4px;
    background: var(--primary-color-gold);
    margin: 10px auto 30px auto;
    border-radius: 4px;
}


.favoritos-grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}


.fav-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #00000015;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.fav-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px #00000020;
}


.fav-card-clickable {
    cursor: pointer;
    text-align: center;
}

.fav-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.fav-card h3 {
    font-size: 1.1rem;
    color: #333;
    margin: 0;
    margin-bottom: 20px;

}

.fav-remove-btn {
    background-color: var(--primary-color-gold);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;

}

.fav-remove-btn:hover {
    background-color: var(--primary-color-gold-dark);
}

.empty-message {
    font-weight: 1.8rem;
    font-size: 1.4rem;
    color: #888;
    text-align: center;
    grid-column: 1 / -1;
    margin-top: 40px;
}