      .favoritos-page {
            padding: 40px 0;
            text-align: center;
        }

        .favoritos-page h1 {
            margin-bottom: 10px;
        }

        .underline {
            width: 80px;
            height: 4px;
            background: #1a2bff;
            margin: 10px auto 30px auto;
            border-radius: 4px;
        }

        .favoritos-grid {
            width: 90%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
        }

        .fav-card {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px #00000015;
            cursor: pointer;
            transition: .3s;
        }

        .fav-card:hover {
            transform: translateY(-5px);
        }

        .fav-card img {
            width: 100%;
            height: 200px;
            object-fit: contain;
        }