/* Styles/perfil.css (Versão Melhorada) */
:root {
    --primary-color: #F7C31B;
    --secondary-color: #3D0066;
    --background-color: #ccc4ab;
    --secondary-color-light: #8238B3;
    --primary-color-gold: #C78D17;
    --font-family: 'Poppins', sans-serif;



}

.perfil-container {
    padding-top: 20px;
}

.perfil-container h1 {
    font-size: 2.5rem; 
    color: #333;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.perfil-container h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #444;
    margin-top: 30px;
    margin-bottom: 15px;
}

#dados-usuario {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 30px; 
}

.input-grupo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
    padding: 12px 0;
    border-bottom: 1px solid #e9e9e9;
}
.input-grupo:last-child {
    border-bottom: none;
}

.input-grupo label {
    font-weight: 600;
    color: #333;
    flex-basis: 120px; 
}
.input-grupo p {
    font-weight: 500;
    color: #555;
    margin: 0;
}


#product-form {
    margin-top: 15px;

}


#product-form input[type="file"] {
    padding: 10px;
    background-color: #f7f7f7;
    cursor: pointer;
}


#product-form .cta-button {
    background-color: var(--primary-color-gold);
    font-weight: 600;
}
#product-form .cta-button:hover {
    background-color: var(--primary-color);
}